<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>appear_human.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 40}</string>
			<key>spriteSourceSize</key>
			<string>{26, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{261, 0}, {26, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blocks_pattern.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 120}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 463}, {180, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>citizen_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{111, 302}</string>
			<key>spriteSourceSize</key>
			<string>{111, 302}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 152}, {111, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>citizen_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {141, 317}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{141, 317}</string>
			<key>spriteSourceSize</key>
			<string>{141, 317}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{457, 463}, {141, 317}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>closed_door.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {273, 353}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{273, 353}</string>
			<key>spriteSourceSize</key>
			<string>{273, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 557}, {273, 353}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dollar.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 35}</string>
			<key>spriteSourceSize</key>
			<string>{19, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289, 0}, {19, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>door_ani_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 29}, {249, 403}}</string>
			<key>spriteOffset</key>
			<string>{-32, -0}</string>
			<key>spriteSize</key>
			<string>{249, 403}</string>
			<key>spriteSourceSize</key>
			<string>{313, 461}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 152}, {249, 403}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>door_ani_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 14}, {167, 433}}</string>
			<key>spriteOffset</key>
			<string>{10, -0}</string>
			<key>spriteSize</key>
			<string>{167, 433}</string>
			<key>spriteSourceSize</key>
			<string>{313, 461}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 585}, {167, 433}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>door_ani_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{185, 0}, {65, 461}}</string>
			<key>spriteOffset</key>
			<string>{61, -0}</string>
			<key>spriteSize</key>
			<string>{65, 461}</string>
			<key>spriteSourceSize</key>
			<string>{313, 461}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{433, 0}, {65, 461}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>door_ani_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{248, 0}, {65, 461}}</string>
			<key>spriteOffset</key>
			<string>{124, -0}</string>
			<key>spriteSize</key>
			<string>{65, 461}</string>
			<key>spriteSourceSize</key>
			<string>{313, 461}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {65, 461}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 307}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 307}</string>
			<key>spriteSourceSize</key>
			<string>{136, 307}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{500, 0}, {136, 307}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_bag.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {148, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 0}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>target_mark.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 0}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>bankPanic</string>
		<key>textureFileName</key>
		<string>bankPanic.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>